<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>$message.get($params.action) $message.get($params.entity)</title>
    <link rel="stylesheet" media="screen" href="/css/market/perfil.css" >
    <!–[if IE]>
		<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <![endif]–>
</head>
<body style="background-color:#EBEBEB">

	<div id="BoxGeneral" class="BoxGeneral">
	
		<div class="BoxHeader"><h2>Eliminar</h2> <img class="logo" src="/img/market/logo.png" width="150"></div>
		
		<div class="BoxCenter">
	
				<div style="width: 200px; float: left;">
					<img style="padding: 30px;" src="/img/market/perfil${params.instance.value.sexo}.png" width="150">
				</div>
				
				<div style="width: 480px; float: left;">
					<br><br><br><br>
					<p>El usuario fue eliminado correctamente!</p>
				</div>
	
		</div>
		
		<div class="BoxFooter"></div>	
		
	</div>
</body>
</html>